<a href="https://colab.research.google.com/github/hariharan-075/ML/blob/main/2420080075_ML_Week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
df= pd.read_csv("/content/drive/MyDrive/ML Datasets/Titanic-Dataset.csv")

In [ ]:
print("Number of rows",df.shape[0])
print("Number of columns",df.shape[1])
print("missing values per column",df.isnull().sum())

Number of rows 891
Number of rows 12
missing values per column PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
df['Age'].fillna(df['Age'].median(),inplace=True)
df['Embarked'].fillna(df['Embarked'].mode(),inplace=True)
irrelavent_cols=['PassengerId','Name','Ticket','Cabin']
df.drop(columns=irrelavent_cols,inplace=True)
print('\nMissing values after Handling')
print(df.isnull().sum())

Missing values after Handling
Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    2
dtype: int64

/tmp/ipython-input-1095001354.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(),inplace=True)
/tmp/ipython-input-1095001354.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Embarked'].fillna(df['Embarked'].mode(),inplace=True)

In [ ]:
Q1=df['Fare'].quantile(0.25)
Q3=df['Fare'].quantile(0.75)
IQR=Q3-Q1
lower_bound=Q1-1.5*IQR
df['Fare']=np.where(df['Fare']<lower_bound,lower_bound,df['Fare'])
upper_bound=Q3+1.5*IQR
df['Fare']=np.where(df['Fare']>upper_bound,upper_bound,df['Fare'])

In [ ]:
df=pd.get_dummies(df,columns=['Sex','Embarked'],drop_first=True)
label_encoder=LabelEncoder()
categorical_cols=df.select_dtypes(include=['object']).columns
for col in categorical_cols:
  df[col]=label_encoder.fit_transform(df[col])

In [ ]:
X=df.drop('Survived',axis=1)
y=df['Survived']
X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.30, random_state=42, stratify=y)
 # Second split: Validation (15%) and Test (15%)
X_val, X_test, y_val, y_test = train_test_split(X_temp, y_temp, test_size=0.50, random_state=42, stratify=y_temp)

In [ ]:
print("\nDataset Split Shapes")
print("---------------------")
print("Training Set   :", X_train.shape, y_train.shape)
print("Validation Set :", X_val.shape, y_val.shape)
print("Testing Set    :", X_test.shape, y_test.shape)

Dataset Split Shapes
---------------------
Training Set   : (623, 8) (623,)
Validation Set : (134, 8) (134,)
Testing Set    : (134, 8) (134,)